<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.hms">
    <uses-permission android:name="android.permission.INTERNET"/>
    <application
        android:allowBackup="true"
        android:name=".service.MyApplication"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:usesCleartextTraffic="true"
        android:theme="@style/Theme.MyApplication">
        <activity android:name=".ui.doctor.DoctorActivity" />
        <activity android:name=".ui.patient.PatientActivity" />
        <activity android:name=".ui.patient.prescription.DetailPrescriptionActivity"/>
        <activity android:name=".ui.patient.prescription.MedicineActivity"/>
        <activity android:name=".ui.patient.dashboard.medicalhistory.MedicalHistoryActivity"/>
        <activity android:name=".ui.patient.dashboard.medicalrecord.MedicalRecordActivity"/>
        <activity android:name=".ui.patient.dashboard.medicalrecord.DetailMedicalRecordActivity"/>
        <activity android:name=".ui.patient.dashboard.password.ChangePasswordActivity"/>
        <activity android:name=".ui.patient.dashboard.payment.PaymentActivity"/>
        <activity android:name=".ui.patient.dashboard.payment.SuccessActivity"/>
        <activity
            android:name="com.example.hms.ui.login.LoginActivity"
            android:label="@string/app_name"
            android:theme="@style/Theme.MyApplication.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>